.container {
  background-color: rgb(0, 63, 30);
  color: #bcffa7;
  justify-content: center;
  text-align: center;
  display: flex;
  min-height: 6vh;
}
.gridContainer {
  display: flex;
  align-content: center;
}
.link {
  color: inherit;
}
