.Content {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00983em;
  height: 100%;
  .Coming-soon {
    color: #07c25e;
  }

  .Text-body {
    margin-right: 22%;
    margin-left: 22%;
    align-self: center;
    justify-self: center;
    font-family: Nunito Sans;
    font-size: 26px;
    max-width: none;
    @media screen and (max-width: 1200px) {
      font-size: 20px;
      margin-right: 10%;
      margin-left: 10%;
    }
  }

  .Join-us {
    font-family: Nunito Sans;
    font-size: 40px;
    flex-wrap: wrap;
    margin: 25;
    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }
  }

  .Form {
    padding: 0;
  }

  .Email-submit {
    width: 40vw;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
    @media screen and (max-width: 1200px) {
      width: 70vw;
    }
  }
}
